:root{
    --text-color-1: #ffffff;
    --nav-text: #C7C7C7;
    --button-color: #8E32C6;
    --header-background-color: #012D63;
    --footer-background-color: #021635;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
li{
    list-style: none;
    padding: 0;
    margin: 0;
}



/* Загальні стилі */

.container{
    width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

 /* Header  */

.header{
    background-color: var(--header-background-color);
}

.header .container{
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav-list{
    display: flex;
    margin-left: 152px;
}

.nav-item:not(:first-child){
    margin-left: 29px;
}

.nav-item{
    justify-content: center;
    align-items: center;
}

.nav-link{
    font-weight: 300;
    color: var(--nav-text);
}

.nav-link:hover,
.nav-link:focus{
    font-weight: 400;
    color: var(--text-color-1);
}

.language{
    display: flex;
    margin-left: auto;
}

/* Секція герой */

.hero{
    background-image: url('./images/Group\ 37\ \(1\)\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-img{
    width: 160px;
}

.hero-img + p{
    font-family: 'PT Serif';
    color: var(--text-color-1);
}

.title{
    font-family: 'Playfair Display';
    font-size: 144px;
    line-height: 192px;
    color: var(--text-color-1);
}

.hero-title{
    font-family: 'Playfair Display';
    font-size: 72px;
    line-height: 96px;
    color: var(--text-color-1);
}

.hero-text{
    font-size: 18px;
    line-height: 21px;
    color: var(--text-color-1);
}